 <div class="container-fluid">
    <div class="row">
     <div class="col-sm-3 mt-5 " *ngFor="let d of alluser">
         <div class="card">
             <div class="card-body">
                        <!-- <p><b>id</b>{{d._id}}</p> -->
                        <p><b>customername</b>{{d.users.firstname}}</p>
                        <p><b>photosize</b>{{d.photosize}}</p>
                        <p><b>photoprice</b>{{d.photoprice}}</p>
                        <p><b>noofcopies</b>{{d.noofcopiece}}</p>
                        <p><b>address</b>{{d.users.address}}</p>
                        <p><b>totalamount</b>{{d.totalamount}}</p>
                           <!-- <img src="{{d.image}}">  -->
                        
                        
                         
                         
             </div>
         </div>
         
     </div>
    </div> 
 </div>

 


 
 
 