<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4" style="margin-top:80px;margin-left:450px;">
            <div class="card">
               <div class="card-header" style="text-align: center;font-size:25px;"><b>User Register</b></div>
               <div class="card-body">
                  <div class="row">
                   <div class="col-sm-6">
                       <div class="form-floating mb-3 mt-3">
                        <select name="size" id="size" class="form-control border-0">
                          <option value="4x6">4x6</option>
                          <option value="9x12">9x12</option>
                        </select>
                        <label for=""><b>photosize</b></label>
                         </div>
                   </div>
                   <div class="col-sm-6">
                       <div class="form-floating mb-3 mt-3">
                           <input type="number" class="form-control border-0" placeholder="Enterlastname" name="Lastname">
                           <label for=""><b>price</b></label>
                         </div>
                   </div>
                  </div> 
                  <div class="row">
                   <div class="col-sm-6">
                       <div class="form-floating mb-3 mt-3">
                           <input type="number" class="form-control border-0" placeholder="Entermobileno" name="mobileno">
                           <label for=""><b>noofcopiece</b></label>
                         </div>
                   </div>
                   <div class="col-sm-6">
                       <div class="form-floating mb-3 mt-3">
                           <input type="number" class="form-control border-0" placeholder="Enter email" name="email">
                           <label for=""><b>totalamount</b></label>
                         </div>
                   </div>
                  </div>
                  <div class="row">
                   <div class="col-sm-6">
                       <div class="form-floating mb-3 mt-3">
                           <input type="file" class="form-control border-0" placeholder="Address">
                           <label for=""><b>photo</b></label>
                         </div>
                   </div>
                  </div>  
                  <div class="" style="text-align: center;">

                    <button type="button" class="btn btn-primary ms-auto w-25" >update</button>
                        

                  </div>
       
                     
               </div>
            </div>   
           </div>
    </div>
    
</div>



    
    


 