<div class="container-fluid">
    <div class="row">
     <div class="col-sm-4 mt-5 " style="margin: auto;">
         <div class="card">
             <div class="mt-3">
                 <table class="table text-center">
                     <tr>
                        <th>s.no</th>
                        <th>size</th>
                        <th>price</th>
                        <th>action</th>
                    </tr>
                     <tr>
                         
                     </tr>
                         
                     </table>
             </div>
         </div>
         
     </div>
    </div> 
 </div>
 
 
 
 