<div class="img">
<div class="container-fluid">
    <div class="row" style="background-color:#F9E79F;" id="row1">
        <div class="col-sm-2">
            <h6 style="font-size:20px;" class="mt-2 ms-3 mb-2">Digital</h6>
            <p class="mt-3 ms-3">photography system</p>
        </div>
        <div class="col-sm-6"></div>
        <div class="col-sm-1 mt-4"><a class="btn" routerLink="/login">admin</a></div>
        <div class="col-sm-1 mt-4"><button class="btn" routerLink="">user</button></div>
        <div class="col-sm-1 mt-4"><button class="btn" routerLink="">Home</button></div>
        <div class="col-sm-1 mt-4"><button class="btn" routerLink="">About</button></div>
        


    </div>
          
          <div class="row" style="margin-top:100px;">
            <div class="col-sm-6 mb-5 mt-5 ms-5">
             <h6 style="font-size:45px;">we provide<br>Best photographer</h6>
            </div>
          </div>
</div> 

</div>

