.img{
    background-image: url('src/assets/image/cam5.jpg');
    height:800px;
    background-repeat: no-repeat;
    background-size: cover;}

    #row1{
        padding:1px;
        opacity:0.5;
    }
    
    
    