<div class="container-fluid">
  <div class="col-sm-6 ms-5" style="margin-top:250px;">
    <div class="card ms-2">
      <div class="col-sm-4 ms-5">
        <label for="" class="form-label">Photosize</label>
        </div>
      <div class="col-sm-8 ms-5">
        <input type="text" class="form-control" formControlName=""placeholder="">
      </div>
      <div class="col-sm-4 ms-5">
        <label for="" class="form-label">Photoprice</label>
        </div>
      <div class="col-sm-8 ms-5">
        <input type="number" class="form-control" formControlName=""placeholder="">
      </div>
      <div class=" mt-2" style="text-align: center;">
        <button class="btn btn-primary w-25">submit</button>
      </div>
    </div>
  </div>
  
</div>