 <div class="container-fluid">
  <div class="col-sm-5 " style="margin-top:100px;margin-left:500px;">
    <div class="card ms-2" >
      <div class="col-sm-4 ms-5">
        <label for="" class="form-label"><b>Photosize</b></label>
        </div>
      <div class="col-sm-8 ms-5">
        <input type="text" class="form-control" placeholder="" class="login-form-field">
      </div>
      <div class="col-sm-4 ms-5">
        <label for="" class="form-label"><b>Photoprice</b></label>
        </div>
      <div class="col-sm-8 ms-5">
        <input type="number"  formControlName=""placeholder="" class="login-form-field">
      </div>
      <!-- <div class="col-sm-4" style="margin-left:120px;">
        <button class="btn btn-primary w-25">submit</button>
      </div> -->
      <button type="button" class="btn btn-primary w-25 mt-2" style="margin-left:120px;">submit</button>
    </div>
  </div>
  
</div> 

  <!-- <body>
  <main id="main-holder" class="mt-5" style="margin-left:380px;">
    <h1 id="login-header">Photoprice&size</h1>
    
    <div id="login-error-msg-holder">
      <p id="login-error-msg">Invalid username <span id="error-msg-second-line">and/or password</span></p>
    </div>
    
    <form id="login-form">
      <input type="text" name="size" id="username-field" class="login-form-field" placeholder="size">
      <input type="text" name="price" id="password-field" class="login-form-field" placeholder="price">
      <input type="submit" value="submit" id="login-form-submit">
    </form>
  
  </main>
</body>   -->
