<div class="container-fluid">
  <div class="col-sm-3 mt-5 mb-5" style="text-align: center; margin-left: auto;margin-right: auto;"  >
   <div class="card ">
    
      <!-- style="margin-top:10px;margin-left:500px;" -->
      <div class="fotm-floating col-sm-4 ms-5 mt-3 ">
        <label for="" ><b>Photosize</b></label>
        <input type="text" class="from-co" placeholder="" class="login-form-field">
        </div>
      <div class="col-sm-4 ms-5">
        <label for="" class=""><b>Photoprice</b></label>
        <input type="number"  formControlName=""placeholder="" class="login-form-field">
       </div>
      <button type="button" class="btn btn-primary w-25 mt-2" style="margin-left:120px;">submit</button>
    </div>
    <!-- <div class="card">
    <div class="form-floating mb-3">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>
  </div> -->
  </div>
  
</div>  

