<div class="container-fluid">
    <div class="row">
        <div class="col-sm-7" style="margin-top:100px;">
            <div class="card" style="background-color:#F9E79F;">
               <div class="card-header" style="text-align: center;font-size:25px;">User Register</div>
               <div class="card-body">
                  <div class="row">
                   <div class="col-sm-6">
                       <div class="form-floating mb-3 mt-3">
                           <input type="text"  class="form-control border-0" placeholder="Enterfirstname" name="firstname">
                           <label for="">firstname</label>
                         </div>
                   </div>
                   <div class="col-sm-6">
                       <div class="form-floating mb-3 mt-3">
                           <input type="text" class="form-control border-0" placeholder="Enterlastname" name="Lastname">
                           <label for="">Last Name</label>
                         </div>
                   </div>
                  </div> 
                  <div class="row">
                   <div class="col-sm-6">
                       <div class="form-floating mb-3 mt-3">
                           <input type="number" class="form-control border-0" placeholder="Entermobileno" name="mobileno">
                           <label for="">mobileno</label>
                         </div>
                   </div>
                   <div class="col-sm-6">
                       <div class="form-floating mb-3 mt-3">
                           <input type="text" class="form-control border-0" placeholder="Enter email" name="email">
                           <label for="">Email</label>
                         </div>
                   </div>
                  </div>
                  <div class="row">
                   <div class="col-sm-6">
                       <div class="form-floating mb-3 mt-3">
                           <input type="text" class="form-control border-0" placeholder="Address">
                           <label for="">Address</label>
                         </div>
                   </div>
                  </div>  
                  <div class="" style="text-align: center;">

                    <button type="button" class="btn btn-warning ms-auto w-25" >submit</button>
                        

                  </div>
       
                     
               </div>
            </div>   
           </div>
    </div>
    
</div>