 <div class="container">
    <div class="row ">
     <div class="col-sm-4 mt-5 "*ngFor= "let d of userdata index as i">
         <div class="card text-center">
             <div class="card-body">
       <p><b>s.no:</b>{{i+1}}</p>
       <p><b>photosize:</b>{{d.photosize}}</p>
       <p><b>firstname:</b>{{alldata.firstname}}</p>
       <p><b>photoprice:</b>{{d.photoprice}}</p>
       <p><b>noofcopiece:</b>{{d.noofcopiece}}</p>
       <p><b>totalamount:</b>{{d.totalamount}}</p>
       <!-- <img src="{{d.image}}"> -->
       <p><b>address:</b>{{alldata.address}}</p>

             </div>
         </div>
     </div>
    </div> 
 </div>
 
 <!-- <table class="table text-center">
    <tr>
       <th>s.no</th>
       <th>photosize</th>
       <th>price</th>
       <th>Noofcopies</th>
       <th>totalamount</th>
        <th>img</th>
       <th>status</th>
       <th>payment</th>
    </tr>
    <tr  >
       
       
        
    </tr>
        
    </table> -->
 
 