<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6" style="margin-top:150px;">
      <form [formGroup]="AdminLogin">
        <div class="card">
          <!-- style="background-color:rgb(234, 232, 118)" -->
          <div class="header" style="text-align: center;">
            <h3><b>Admin signin</b></h3>
          </div>
          <div class="card-body">
            <div class="col-sm-10">
              <div class="input-group mb-3">
                <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
                <input type="text" class="form-control" formControlName="username" placeholder="Username">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="bi bi-lock-fill"></i></span>
                <input type="password" class="form-control" formControlName="password" placeholder="password">
              </div>
              <div class="row">
                <button   type="submit" class="btn btn-warning ms-auto w-25" (click)="adminlogin()">login</button>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="col-sm-6">
      </div>
    </div>
  </div>
</div>