<div class="container">
    <div class="row">
     <div class="col-sm-5 text-center " style="margin: auto;">
         <div class="card" style="margin: auto;">
             <div class="mt-3">
                <tr>
                    <!-- <th>s.no</th> -->
                    <th>firstname</th>
                    <th>lastname</th>
                    <th>email</th>
                    <th>mobileno</th>
                    <th>address</th>
                </tr>
                
                <tr *ngFor=" let alldata of alluser">
                        <!-- <td>{{alldata._id}}</td> -->
                        <td>{{alldata.firstname}}</td>
                        <td>{{alldata.lastname}}</td>
                        <td>{{alldata.email}}</td>
                        <td>{{alldata.mobileno}}</td>
                        <td>{{alldata.address}}</td>
                    </tr>
                    
                 <!-- <table class="table text-center">
                     <tr>
                    <th>s.no</th>
                    <th>firstname</th>
                    <th>lastname</th>
                    <th>email</th>
                    <th>photono</th>
                    <th>address</th>
                         
                     </tr>
                     <tr>
                         
                     </tr>
                         
                     </table> -->
             </div>
         </div>
         
     </div>
    </div> 
 </div>
 
 
 
 