<div class="container">
    <div class="row">
        <div class="col-sm-4 text-center mt-5" *ngFor="let alldata of alluser index as i ">
            <div class="card mb-4">

                <div class="card-body">
                    <p>{{i+1}}</p>
                    <p><b>firstname:</b>{{alldata.firstname}}</p>
                    <p><b>lastname:</b>{{alldata.lastname}}</p>
                    <p><b>email:</b>{{alldata.email}}</p>
                    <p><b>mobileno:</b>{{alldata.mobileno}}</p>
                    <p><b>address:</b>{{alldata.address}}</p>

                </div>

            </div>
        </div>

    </div>
</div>