<div class="">
    <div class="container-fluid">
       <div class="row" style="background-color: #B3B6B7;" >

           <div class="col-sm-2">
               <h6 style="font-size:20px;" class="mt-2 ms-3 mb-2"><b>Digital</b></h6>
               <p class="mt-3 ms-3"><b>photography system</b></p>
           </div>
           <div class="col-sm-1 mt-4 ms-auto"><a class="btn" routerLink="/home"><b>home</b></a></div>
           <div class="col-sm-1 mt-4"><a class="btn" routerLink="userprofile"><b>profile</b></a></div>
           <div class="col-sm-1 mt-4"><a class="btn" routerLink="userphoto"><b>photoprice</b></a></div>
           <div class="col-sm-1 mt-4"><a class="btn" routerLink="upload"><b>uploadphotos</b></a></div>
           <div class="col-sm-1 mt-4 ms-3"><a class="btn" routerLink="request"><b>request</b></a></div>
           <div class="col-sm-1 mt-4"><a class="btn" routerLink=""><b>Logout</b></a></div>
</div>
       <div class="row" >
           <router-outlet></router-outlet>
       </div>
    </div>   
   </div>

